<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.userndot.androidsdk">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        >
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.userndot.sdk.FCMMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.userndot.sdk.UNDPushNotificationIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.userndot.PUSH_EVENT" />
            </intent-filter>
        </service>
        <!--
     Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_ic_notification" />
        <!-- &lt;!&ndash; Set color used with incoming notification messages. This is used when no color is set for the incoming -->
        <!-- notification message. See README(https://goo.gl/6BKBk7) for more. &ndash;&gt; -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="USERNDOT_USER_ID"
            android:value="userndot" />
        <meta-data
            android:name="USERNDOT_NOTIFICATION_ICON"
            android:resource="@drawable/ic_stat_ic_notification" />
        <meta-data
            android:name="STAGING_TOKEN"
            android:value="eyJUT0tFTl9ST0xFIjoiRVZFTlRfQU5EUk9JRCIsImFsZyI6IkhTNTEyIn0.eyJzdWIiOiJldmVudF9qb2dlbmRlcjAwNy5qc0BnbWFpbC5jb20iLCJ1c2VySWQiOiIxMDM3IiwiY2xpZW50SWQiOiIxMDE4Iiwicm9sZXMiOlsiUk9MRV9FVkVOVCIsIlJPTEVfVVNFUiJdLCJjcmVhdGVkIjoxNTQ3MDMyMDAxMjg5LCJleHAiOjkyMjMzNzIwMzY4NTQ3NzV9.kDQownKGrAKEQ1LKm_9W852un6Ovezcx3X6_S26EXeKHKpzP2tFz84kfe7LdA829dqsax9FV7AH-CpjdPncAnA" />

        <activity android:name=".Main2Activity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="host"
                    android:pathPrefix="/best"
                    />
            </intent-filter>
        </activity>
    </application>

</manifest>